.top-navbar{
    display: flex;
    align-items: center;
    width: 80%;
    height: 66px;
    position: fixed;
    margin: 20px 24px 24px 250px;
    padding: 0px;
    z-index: 1;
}

.login-btn{
    padding: 4px 10px;
    font-size: 15px;
    border: none;
    background-color: transparent;
    color: black;
    transition: 0.3s;
}

.login-btn:hover{
    color: #5e5959;
}

.signup-btn{
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 15px;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    transition: 0.3s;
}

.signup-btn:hover{
    border: 1px solid #5e5959;
    color: #5e5959;
}

.login-btn-dark{
    padding: 4px 10px;
    font-size: 15px;
    border: none;
    background-color: transparent;
    color: white;
    transition: 0.3s;
}

.login-btn-dark:hover{
    color: rgb(200, 200, 200);
}

.signup-btn-dark{
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 15px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    transition: 0.3s;
}

.signup-btn-dark:hover{
    border: 1px solid rgb(200, 200, 200);
    color: rgb(200, 200, 200);
}

.theme-icon-wrapper-light, .theme-icon-wrapper-dark{
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.theme-icon-wrapper-light:hover{
    background-color: rgba(128, 128, 128, 0.300);
}

.theme-icon-wrapper-dark:hover{
    background-color: rgb(56, 64, 66);
}

.side-navbar{
    display: "flex";
    flex-direction: column;
    height:100%;
    width: 250px;
    position: fixed;
}

/* light theme */
.navbar-link-div, .navbar-link-dark-div{
    margin: 0px 0px 4px 0px;
    padding: 4px 0px 4px 18px;
}

.navbar-link-div:hover, .navbar-link-dark-div:hover{
    transform: scale(1.02);
}

.navbar-link-div-active{
    margin: 0px 0px 6px 0px;
    padding: 4px 0px 4px 16px;
    border-left: 4px solid #212529;
    background-color: #ffcece;
}

.navbar-link-div:last-child{
    margin: 0px;
    padding: 4px 0px 4px 18px;
}

.navbar-link-div-active:last-child{
    margin: 0px;
    padding: 4px 0px 4px 16px;
}

.navbar-link{
    color: #5e5959;
    text-decoration: none;
}

.navbar-link-active{
    color: black;
    text-decoration: none;
}

/* dark theme */
.navbar-link-dark-div-active{
    margin: 0px 0px 6px 0px;
    padding: 4px 0px 4px 16px;
    border-left: 4px solid #ffcece;
    background-color: #1a1a1a;
}

.navbar-link-dark-div:last-child{
    margin: 0px;
    padding: 4px 0px 4px 18px;
}

.navbar-link-dark-div-active:last-child{
    margin: 0px;
    padding: 4px 0px 4px 16px;
}

.navbar-link-dark{
    color: #bebebeff;
    text-decoration: none;
}

.navbar-link-dark-active{
    color: #ffcece;
    text-decoration: none;
}

/* content */
.content{
    width: 75%;
    margin-top: 124px;
    margin-left: 274px;
}

/* notes page */
.notes-collection{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 24px;
    margin: 24px 0px;
}

/* notes page "your notes" and "add notes" buttons*/
.notes-btn, .notes-btn-active, .notes-btn-dark, .notes-btn-dark-active{
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 15px;
}

.notes-btn{
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: white;    
    color: #5e5959;
}

.notes-btn-active, .notes-btn-dark-active{
    border: 1px solid #ffcece;
    background-color: #ffcece;
}

.notes-btn-dark{
    border: 1px solid #424549;
    background-color: #212529;    
    color: #bebebeff;
}

/* your notes page */
.modal-btn{
    background-color: white;
    border-radius: 25px;
    border: none;
    padding: 0px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.modal-btn img{
    height: 22px;
    width: 22px;
}

.modal-btn:hover{
    background-color: rgba(128, 128, 128, 0.300);
}

/* add notes page */
.add-note-form{
    display: flex;
    justify-content: center;
    margin: 24px 0px;
}

.form-control:focus{
    border-color: #ffcece;
    box-shadow: 0 0 0 .20rem #ffcece90;
}

.add-note-btn{
    padding: 4px 10px;
    border-radius: 24px;
    font-size: 15px;
    border: 1px solid #ffcece;
    background-color: #ffcece;
    color: black;
    transition: 0.3s;
}

.add-note-btn:hover{
    border: 1px solid #ffa8a8;
    background-color: #ffa8a8;
}