.top-navbar{
    display: flex;
    align-items: center;
    width: 80%;
    height: 84px;
    position: fixed;
    margin: 0px 0px 0px 252px;
    padding: 12px 0px 0px 0px;
    z-index: 1;
}

.login-btn{
    padding: 4px 16px;
    font-size: 15px;
    border: none;
    background-color: transparent;
    color: black;
    transition: 0.3s;
}

.login-btn:hover{
    color: #5e5959;
    cursor: none;
}

.signup-btn{
    padding: 4px 16px;
    border-radius: 8px;
    font-size: 15px;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    transition: 0.3s;
}

.signup-btn:hover{
    border: 1px solid #5e5959;
    color: #5e5959;
    cursor: none;
}

.login-btn-dark{
    padding: 4px 16px;
    font-size: 15px;
    border: none;
    background-color: transparent;
    color: white;
    transition: 0.3s;
}

.login-btn-dark:hover{
    color: rgb(200, 200, 200);
    cursor: none;
}

.signup-btn-dark{
    padding: 4px 16px;
    border-radius: 8px;
    font-size: 15px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    transition: 0.3s;
}

.signup-btn-dark:hover{
    border: 1px solid rgb(200, 200, 200);
    color: rgb(200, 200, 200);
    cursor: none;
}

.theme-icon-wrapper-light, .theme-icon-wrapper-dark{
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
}

.theme-icon-wrapper-light:hover{
    background-color: rgba(128, 128, 128, 0.300);
    cursor: none;
}

.theme-icon-wrapper-dark:hover{
    background-color: rgb(56, 64, 66);
    cursor: none;
}

.side-navbar{
    display: "flex";
    flex-direction: column;
    height:100%;
    width: 250px;
    position: fixed;
}

/* light theme */
.navbar-link-div, .navbar-link-dark-div{
    margin: 0px 0px 4px 0px;
    padding: 4px 0px 4px 18px;
}

.navbar-link-div:hover{
    color: #ffa8a8;
}

.navbar-link-dark-div:hover{
    color: #ffcece;
}

.navbar-link-div-active{
    margin: 0px 0px 6px 0px;
    padding: 4px 0px 4px 16px;
    border-left: 4px solid #212529;
    background-color: #ffcece;
}

.navbar-link-div:last-child{
    margin: 0px;
    padding: 4px 0px 4px 18px;
}

.navbar-link-div-active:last-child{
    margin: 0px;
    padding: 4px 0px 4px 16px;
}

.navbar-link{
    color: #5e5959;
    text-decoration: none;
}

.navbar-link-active{
    color: black;
    text-decoration: none;
}

/* dark theme */
.navbar-link-dark-div-active{
    margin: 0px 0px 6px 0px;
    padding: 4px 0px 4px 16px;
    border-left: 4px solid #ffcece;
    background-color: #1a1a1a;
}

.navbar-link-dark-div:last-child{
    margin: 0px;
    padding: 4px 0px 4px 18px;
}

.navbar-link-dark-div-active:last-child{
    margin: 0px;
    padding: 4px 0px 4px 16px;
}

.navbar-link-dark{
    color: #bebebeff;
    text-decoration: none;
}

.navbar-link-dark-active{
    color: #ffcece;
    text-decoration: none;
}

.navbar-link:hover, .navbar-link-dark:hover, .navbar-link-active:hover, .navbar-link-dark-active:hover, .navbar-link-div:hover, .navbar-link-dark-div:hover, .navbar-link-div-active:hover, .navbar-link-dark-div-active:hover{
    cursor: none;
}

/* content */
.content{
    width: 80%;
    margin-top: 92px;
    margin-left: 252px;
}

/* notes page */
.notes-collection{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 24px;
    margin: 30px 0px;
}

.back-btn, .back-btn-dark{
    padding: 4px 12px;
    border-radius: 8px;
    font-size: 14px;
}

.back-btn:hover, .back-btn-dark:hover{
    cursor: none;
}

.back-btn{
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: white;    
    color: #5e5959;
}

.back-btn-dark{
    border: 1px solid #424549;
    background-color: #212529;    
    color: #bebebeff;
}

/* your notes page */
.modal-btn{
    background-color: transparent;
    border-radius: 25px;
    border: none;
    padding: 0px;
    height: 40px;
    width: 40px;
}

.modal-btn img{
    height: 22px;
    width: 22px;
}

.modal-btn:hover{
    background-color: rgba(128, 128, 128, 0.300);
    cursor: none;
}

/* add notes page */
.add-note-form{
    display: flex;
    justify-content: center;
    margin: 24px 0px;
}

.form-control:focus{
    border-color: #ffcece;
    box-shadow: 0 0 0 .20rem #ffcece90;
}

.add-note-btn{
    padding: 4px 20px;
    border-radius: 24px;
    font-size: 15px;
    border: 1px solid #ffcece;
    background-color: #ffcece;
    color: black;
    transition: 0.3s;
}

.add-note-btn:hover{
    border: 1px solid #ffa8a8;
    background-color: #ffa8a8;
    cursor: none;
}

.add-btn{
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 32px;
    right: 490px;
    z-index: 1;
    padding: 6px 20px;
    font-size: 16px;
    border: 1px solid #ffcece;
    background-color: #ffcece;
    border-radius: 24px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

.add-btn:hover{
    border: 1px solid #ffa8a8;
    background-color: #ffa8a8;
    cursor: none;
}

.up-arrow{
    opacity: 0;
    transition: opacity 0.2s ease;
}

.up-arrow-show{
    position: fixed;
    bottom: 32px;
    right: 36px;
    padding: 6px 15px;
    color: black;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #ffcece;
    background-color: #ffcece;
    border-radius: 50%;
    opacity: 1;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

.up-arrow-show:hover{
    border: 1px solid #ffa8a8;
    background-color: #ffa8a8;
    cursor: none;
}

.alert-box{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 250px;
    width: 80%;
    height: 100%;
    z-index: 1055;
}

.alert-content{
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    width: max-content;
    height: 48px;
    margin-top: 26px;
    padding: 0px 18px 0px 14px;
}

input[type='search']::-webkit-search-cancel-button {
    filter: grayscale(1);
}

.search-bar-input {
    width: 100%;
    border: none;
}

.search-bar-input:focus {
    outline: none;
}

.chip-light, .chip-dark {
    padding: 4px 12px;
    border-radius: 8px;
    font-size: 14px;
}

.chip-light:hover, .chip-dark:hover {
    cursor: none;
}

.chip-light {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: white;    
    color: #5e5959;
}

.chip-dark {
    border: 1px solid #424549;
    background-color: #212529;    
    color: #bebebeff;
}

.chip-active {
    border: 1px solid #ffcece;
    background-color: #ffcece;
    color: black;
}

.scroll-menu {
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}