.side-navbar{
    display: "flex";
    flex-direction: column;
    height:100%;
    width: 240px;
    position: fixed;
    padding: 24px;
}

.navbar-link{
    color: #5e5959;
    text-decoration: none;
}

.content{
    margin-top: 0px;
    margin-left: 240px;
}